<%= form_for @flight do |f| %>
<% if @flight.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@flight.errors.count, "error") %> prohibited new flight from being saved:
    </h2>
    <ul>
      <% @flights.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<p>
  <%= f.label :origin %>
  <%= f.text_field :origin %>
</p>
<p>
  <%= f.label :destination %>
  <%= f.text_field :destination %>
</p>
<p>
  <%= f.label :departure_date %>
  <%= f.text_field :departure_date %>
</p>
<p>
  <%= f.label :departure_time %>
  <%= f.date_field :departure_time %>
</p>
<p>
  <%= f.label :return_date %>
  <%= f.date_field :return_date %>
</p>
<p>
  <%= f.label :return_time %>
  <%= f.text_field :return_time %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
