<h1> <%= @user.first_name %>'s FlightHack Profile </h1>

<%= link_to 'Edit Profile', edit_user_path(@user) %>
<p>
  <%= image_tag @user.avatar.url(:medium) %>
</p>
<p>
  <%= @user.first_name %>
</p>
<p>
  <%= @user.last_name %>
</p>
<p>
  <%= @user.username %>
</p>
<p>
<%= @user.birthday %>
</p>

<%= link_to 'Bid on Flights', flights_path(@user) %>
<% link_to "Users", users_path if admin? %>
