<h1> Your FlightHack Profile </h1>
<p>
  <%= image_tag @user.avatar.url(:medium) %>
</p>
<p>
  <%= @user.first_name %>
</p>
<p>
  <%= @user.last_name %>
</p>
<p>
  <%= @user.username %>
</p>
<p>
<%= @user.birthday %>
</p>

<%= link_to 'Edit Profile', edit_user_path %>
